node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
expo-constants.json

# macOS
.DS_Store
assets/DigitalOcean pitch deck-flat.pptx
assets/vids/PitchDeck-Compressed.mp4
.gitignore
.gitignore
assets/vids/ScreenRecording.mp4
assets/vids/PitchDeck.mp4
assets/vids/ScreenRecording-Compressed.mp4
assets/~$DigitalOcean pitch deck-flat.pptx